.headerInner{
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: fixed; 
  top: 0;
  background-color: #ffffff;
  z-index: 0;
}
.globalNav{
  margin-left: 0;
}
header{
  max-width: 650px;
}
main{
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
}
body{
  max-width: 650px;
  margin: 0 auto;
}

.choice{
  border: solid 1px #ebebeb;
  margin: 7px auto;
  font-weight: bold;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  height: 45px;
  line-height: 45px;
  padding-left: 25px;
}
/* 
.choice:hover{
  color: red;
  font-size: 120%;
} */

h2{
  z-index: -1;
}
h2::after{
  display: block;
  width: 120px;
  height: 2px;
  background-color: #00aa36;
  content: "";
  margin-top: 10px;
}

.chosenAnswer{
  background-color: #297dfe;
  color: #ffffff;
}

.chosenWrong{
  background-color: #ff5028;
  color: #ffffff;
}

.answerBox{
  display: none;
} 

.appeared{
  background-color: #f5f5f5;
}

.oneClick{
  pointer-events: none;
}

.collect_1{
  margin: 20px 0 0 20px;
  padding-bottom: 3px;
  border-bottom: solid 3px #297dfe;
  width: 50px;
}